<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload"  method="POST" enctype="multipart/form-data">
        <label for="fileInput">Choose File:</label>
        <input type="file" name="file" id="fileInput" accept="image/*">
        <button type="submit">Upload</button>
    </form>
</body>
</html>